body {
    background-color: rgb(234, 248, 245);
}

hr {
    border-style: dotted none none none;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.753);
    width: 5%;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}